:root {
  /* colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --montserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", serif;

  /* font weight */
  --semi-bold: 500;
  --bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--cream);
}

.container {
  background-color: var(--white);
  height: 500px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  width: 90%;
  max-width: 666px;
}

.left-container {
  display: flex;
}

.right-container {
  padding: 30px;
}

.item-tag {
  font-size: 0.875rem;
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 10px;
}

.item-name {
  font-size: 2.8rem;
  line-height: 45px;
  font-weight: var(--bold);
  margin: 20px 0;
}

.description-name {
  font-weight: var(--semi-bold);
  font-size: 1.125rem;
  color: var(--dark-grayish-blue);
}

.sale-price {
  text-align: justify;
  font-size: 2.6rem;
  font-weight: var(--bold);
  color: var(--dark-cyan);
  position: relative;
  bottom: 20px;
  margin: 10px 0;
}

.original-price {
  position: relative;
  left: 185px;
  bottom: 97px;
  font-size: 0.875rem;
  text-decoration-line: line-through;
  color: var(--dark-grayish-blue);
  letter-spacing: 1px;
}

/* Fonts */
.item-tag,
.description-name,
.original-price {
  font-family: var(--montserrat);
}

.item-name,
.sale-price {
  font-family: var(--fraunces);
}

button.add-to-cart {
  background-color: var(--dark-cyan);
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  gap: 10px;
  font-weight: var(--bold);
  cursor: pointer;
}

button.add-to-cart:hover {
  background-color: var(--very-dark-blue);
}
